<script src="https://kit.fontawesome.com/1ffd608fb9.js" crossorigin="anonymous"></script>
<nav>
    <a id="logo" class="logo" href="/">Hungry <strong style="color: var(--pink);">Schmungry</strong></a>
    <div class="nav-center-section">
        <div class="address-box-container"><i class="fa-solid fa-location-dot"></i> 2 Argyle St, Schmobart</div>
        <form class="search-bar"><i class="fa-solid fa-magnifying-glass" style="font-size: 1.5em; margin-right: 10px;"></i><input placeholder="Search" type="search"></form>
    </div>
    <div class="nav-icons-section">
        <a class="cart" href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        <a class="profile" href="profile.html"><i class="fa-regular fa-user"></i></a>
    </div>
</nav>