<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/<%= title %>.css">
    <script src="/js/<%= title %>.js"></script>
</head>

    <%- include('partials/_navbar') %>
    <body>
        <div id="mainContainer">
            <div id="imgContainer"><img id="img" alt="image of a drnki"></div>
            <div id="textContainer">
                <div id="infoContainer">
                    <h1 id="title"></h1>
                    <p id="ingredients"></p><p id="price"></p>
					<p id="customise">Customise</p>
                    <div id="ingredientsContent"></div>
                </div>
                <button id="addToCart">Add to Cart</button>
            </div>
        </div>
    </body>
</html>