<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/<%= title %>.css">
    <script src="/js/<%= title %>.js"></script>
</head>
    <%- include('partials/_navbar') %>
    <body>
        <div class="menuHeader">
            <h1>Menu</h1>
            <h3>Here is the menu, plenty of options go buy give us money please thanks</h3>
        </div>
        <div id="menuContainer">I contain the menus, and if you can see this text something is very wrong</div>
    </body>
</html>