#mainContainer {
    border: 2px solid black;
    background-color: var(--transparentblue);
    width: 90vw;
    height: 88vh;
    margin: 2vh auto;
    padding: 1vh;
}

.storePanel {
}

.storeTitle {
    font-size: 1.8vw;
    font-weight: bold;
}

.itemPanelContainer {
    display: flex;
    flex-direction: column;
}

.itemPanel {
    margin: 1vh 0;
}