
:root {
    --debug: 0px solid red;
}

.menuHeader {
    text-align: center;
    width: 40vw;
    border-bottom: 3px dashed var(--pink);
    margin: 0 auto;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
	margin-top: 4vh;
}

#menuContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80vw;
}

.storePanel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border: var(--debug);
    max-width: inherit;
}

.storeTitle {
    height: 5vh;
    border-bottom: .4vh solid var(--transparentblue);
    margin: 0 auto;
    margin-bottom: 1vh;
    display: flex;
    font-size: 2vw;
    width: 80vw;
    font-weight: bold;
    
}

.itemPanelContainer {
    display: flex;
    flex-direction: row;
    width: 78vw;
    overflow: auto;
    border: var(--debug);
    padding: 2vh 1vw;
}

.itemPanelContainer>.itemPanel {
    display: flex;
    flex-direction: column;

	min-width: 12vw;
    max-width: 12vw;
	min-height: 13vw;
    max-height: 13vw;
	margin-right: 5vw;

	background-color: var(--transparentblue);
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	font-size: 0.9vw;
    border-radius: 3%;
    padding: 0.5vw;

	border: 1px solid black;
}

.itemPanelContainer>.itemPanel:last-child {
	margin-right: 0;
}

.itemPanel>* {
	margin: 0;
}

.itemPanel>.ingredients {
    margin-top: 2vh;
}

.itemPanel>.bottom {
    margin: .25vw;
    margin-top: auto;
    font-weight: bold;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.itemPanel>.bottom>.view {
    background-color: #ff9bf2;
    border: 2px solid var(--pink);
    border-radius: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 1px 1px 2px black;
    text-decoration: none;
}

.itemPanel>.bottom>.view:hover {
    transform: scale(1.025);
}

.bottom>.view>.text {
    padding: 0 12px 0 12px;
    color: white;
    font-size: 0.75vw;
}

.bottom>* {
    margin: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

.itemPanelContainer::-webkit-scrollbar-track:empty {
    display: none;
}