#mainContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80vw;
    height: 86vh;
    background-color: var(--transparentblue);
    border-radius: 1vw;
    padding: 1.5vw;
    margin-top: 2.5vh;
}

#mainContainer>* {
    width: 50%;
}

#imgContainer {
    max-width: 40vw;
    display: flex;
    align-items: center;
}

#img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#textContainer {
    margin: 0;
    border-radius: 1vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--accentblue);
    box-shadow: 1px 1px 6px black;
}

#infoContainer {
    margin: 0 1vw;
}

#title {
    font-size: 3vw;
    margin-top: 1.25vh;
}

#ingredients {
    font-size: 1.2vw;
}

#addToCart {
    margin: 0 auto;
}

#editContainer>* {
    width: 10vw;
}

#editContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1vw;
}

#ingredientsContent {
    display: flex;
    flex-direction: column;
    background-color: var(--accentblue);
	width: 40vw;
	margin-left: -1vw;
}

#customise {
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	padding-bottom: 1vh;
	border-bottom: 2px dotted var(--pink);
	width: 40%;
	margin: 0 auto;
	margin-bottom: 1.5vh;
}

#ingredientsContent>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1vw;
	margin: 0.35vh 0;
	border-bottom: 1px solid rgb(145, 156, 165);
	border-bottom-left-radius: .5vw;
	border-bottom-right-radius: .5vw;
	height: 4vh;
	font-size: 1.05vw;
}

#ingredientsContent>div>input[type="checkbox"] {
	width: 2vh;
	height: 2vh;
}

#addToCart {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: auto;
    border-radius: 0 0 1vw 1vw;
    height: 6vh;
    border: none;
    border-top: 1px solid black;
    background: var(--pink);
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    letter-spacing: .1vw;
}

#addToCart:hover {
    filter: hue-rotate(15deg);
    cursor: pointer;
}

#addToCart:active::after {
    content: "";
    position: absolute;
    width: 3vh;
    height: 3vh;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 0.2s linear;
}

#addToCart:active {
    transform: scale(0.99);
}

@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}

#price {
    font-size: 1.7vw;
    font-weight: bold;
}

@keyframes cartPump {
	0% {
		transform: scale(1);
		color: var(--pink);
	} 50% {
		transform: scale(1.25);
		color: var(--pink);
	} 100% {
		transform: scale(1);
		color: white;
	}
}

.cartPumpActive {
	animation: .4s cartPump linear;
}